:root{
    /* background-image: url("/assets/background.svg"); */
    background-repeat: no-repeat;
    /* background-color: rgb(135, 232, 213); */
    background-image: linear-gradient(to bottom, rgb(0, 16, 110),  rgb(33, 78, 155));
    background-color: rgb(33, 78, 155);
    --p1-prime-text-color: rgb(255, 250, 237);
    --p1-second-text-color: rgb(223, 223, 223);
    --p1-third-text-color:  rgb(255, 127, 68);
   
    
    --primary-text-color: var(--p1-prime-text-color);
    --secondary-text-color: var(--p1-second-text-color);
    --third-text-color: var(--p1-third-text-color);

    font-family: 'Lato', sans-serif;
    --primary-navbar-text-color: rgb(97, 76, 253);
    --secondary-navbar-text-color: rgb(255, 255, 255);
    
}

body::-webkit-scrollbar {
    width: 5px;
}

/* body {
    background: url("/assets/background.svg");
} */

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}


.container {
    border-radius: 5px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navtext{
    margin: 5px 0 5px 0;
    font-weight: 900;
    color: var(--primary-text-color);
    align-self: center;
}

#nameTitle{
    font-size: 3vmin;
}
#descTitle{
    font-size: 2vmin;
}

#navbar{
    grid-area: navcont;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: 
    "navbartitle       navbarlinks";
    min-height: 40px;
    background-color: linear-gradient(to bottom right, var(--p1-prime-text-color),  var(--p1-second-text-color));
    border-radius: 10px;
    margin: 15px;
}

#navbar p{
    color: rgba(255, 255, 255, 0.8);
}

#navbar-links{
    grid-area: navbarlinks;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}


.navbar-item a{
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 60px;
    color: var(--primary-text-color);
    transition: all 0.5s ease;
}

.navbar-item a img{
    width: 4vmin;
    margin: 0px 10px;
}

.navbar-item a p{
    transition: all 0.5s ease;
}

.navbar-item a:hover{
    background-color: rgba(255, 255, 255, 0.374);
}

.navbar-item a:hover img{
    transform: scale(1.15);
}

.navbar-item a:hover p{
    display: block;
    font-weight: 600;
    font-size: 20px;
}


#navbar-title{
    grid-area: navbartitle;
    flex-direction: column;
    margin: 0px 5px;
}

#navbar-title div p{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}


.shadow {
    -webkit-box-shadow: 5px 5px 6px 4px hsla(0, 0%, 85%, 0.15);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 5px 6px 4px hsla(0, 0%, 85%, 0.15);  /* Firefox 3.5 - 3.6 */
    box-shadow:         5px 5px 6px 4px hsla(0, 0%, 85%, 0.15);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.navbar-shadow{
    -webkit-box-shadow: 0px 0px 15px 1px  hsla(0, 0%, 100%, 0.25);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 15px 1px  hsla(0, 0%, 100%, 0.25);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 15px 1px  hsla(0, 0%, 100%, 0.25);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#myphoto{
    grid-area: myphoto;
}

.photo-container{
    flex-direction: column;
}

#contacts{
    grid-area: cts;
    flex-direction: column;
}

#briefintro{
    grid-area: bintro;    
    font-weight: 400;
    flex-direction: column;
}

#briefintro p {
    text-align: center
}

#briefintro h2 {
    font-size: 2vmin
}

#briefintro h1 {
    font-size: 3vmin
}

figcaption p {
    margin-top: 2vmin;
    text-align: center;
}

p,h1,h2,h3,h4,h5,h6{
    color: var(--primary-text-color);
    margin:0;
}

#mycv{
    grid-area: mycv;
    flex-direction: column;
}

#myinterests{
    grid-area: myint;
    flex-direction: column;
}

#curiosity{    
    grid-area: cur;
    flex-direction: column;
}

#contacts a img {
    object-fit: contain;
    color: var(--p1-second-text-color);
    width: 5vmin;
    max-width: 8vmin;
    margin: 15px 15px;
}

#contacts h2 {
    font-size: 4vmin;
}

#navbar-links li a p {
    font-size: 3vmin;
}


#faceimg {
    border-radius: 50%;
    min-width: 2vmin;
    max-width: 24vmin;
    flex-basis: auto;
    margin: 5px;
    transition: all 0.2s ease;

}

#faceimg:hover{
    transform: scale(1.1);
}


.grid-template{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto auto 2fr 2fr 1fr 1fr;
    grid-template-areas: 
    "navcont   navcont"
    "myphoto   bintro"
    "cts       mycv"
    "myint     mycv"
    "myint     cur"
    "myint     cur";
    grid-gap: 1rem;
    
}

@media (max-width: 900px) {
    .grid-template{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 2fr 2fr 1fr 1fr;
        grid-template-areas: 
        "navcont"
        "myphoto"
        "bintro"
        "cts"
        "mycv"
        "cur"
        "myint";
        grid-gap: 1rem;
        
    }
  }

a, u {
    text-decoration: none;
    color: var(--third-text-color);
}